.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.form-control {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #5d5d5d solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: lightblue;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 16px;
  min-width: 5px;
  color: #5d5d5d;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}