@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 215, 215); 
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
  cursor: pointer;
}
